workflows/publish-sentinel/definition.yml
name: ${self:service}-${self:provider.stage}-publish-sentinel
definition:
  Comment: Publish Sentinel data as STAC
  StartAt: sentinel-to-stac
  States:
    sentinel-to-stac:
      Type: Task
      Resource:
        Fn::GetAtt: [sentinel-to-stac, Arn]
      Next: publish
      Retry:
        - ErrorEquals: ["TooManyRequestsException"]
          IntervalSeconds: 1
          BackoffRate: 2.0
          MaxAttempts: 5
      Catch:
        - ErrorEquals: ["States.ALL"]
          ResultPath: $.error
          Next: workflow-failed
    publish:
      Type: Task
      Resource:
        Fn::GetAtt: [publish, Arn]
      End: True
      Retry:
        - ErrorEquals: ["TooManyRequestsException"]
          IntervalSeconds: 1
          BackoffRate: 2.0
          MaxAttempts: 5
      Catch:
        - ErrorEquals: ["States.ALL"]
          ResultPath: $.error
          Next: workflow-failed
    workflow-failed:
      Type: Task
      Resource:
        Fn::GetAtt: [workflow-failed, Arn]
      Retry:
        - ErrorEquals: ["TooManyRequestsException"]
          IntervalSeconds: 1
          BackoffRate: 2.0
          MaxAttempts: 5
      Next: failure
    failure:
      Type: Fail
